body {
    text-align: center;
    background-color: #ededed;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
}

h1 {
    color: steelblue;
    font-size: xx-large;
}
h2 {
    color: #999;
    font-size: 20px;
    margin-bottom: -30px;
    margin-top: 40px;
}

.StackedBarChartContainer{
    visibility: hidden;
    height: 0px;
}

button{
    background-color: steelblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.quote{
    color: steelblue;
    padding-top: 10px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
}

.footer {
    padding: 20px;
    color: steelblue;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    font-size: 18px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: steelblue;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: steelblue;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav2 {
    overflow: hidden;
    background-color: #989898;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.06);
    -webkit-text-decorations-in-effect: blink;
}



path {
    fill: none;
    stroke: #999;
    stroke-width: 2;
}

svg {
    box-shadow: 0px 0px 40px -5px rgba(0,0,0,0.3);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}

svg path {
    fill: none;
}

.axis line{
    stroke: gray;
    shape-rendering: crispEdges;
    stroke: #eee;
    stroke-width: 1;

}

.axis path{
    stroke: gray;

}

.axis text{
    fill: gray;
}

.openBtn {
    background-color: red;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: steelblue; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 0px 35px 10px 30px;
    text-decoration: none;
    font-size: 20px;
    font-family: auto;
    color: white;
    display: block;
    transitionsvg: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    left: 60px;
    font-size: 24px;
    margin-left: 60px;
}

.sidenav a:hover {
    color: #999;
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 24px;
    margin-left: 30px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 55px;
        box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.2);}
    .sidenav a {font-size: 18px;
        margin-top: 15px;}
}

/* Layout Sidebar Text and Icons */
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-top: 4px;
    -moz-osx-font-smoothing: grayscale;

}

body {
    font-family: 'Open Sans', sans-serif;
}

div#layout {
    text-align: center;
}

div#container {
    width: 1000px;
    height: 600px;
    margin: auto;
    /*background-color: steelblue;*/
}


.bar {
    fill: orange;
}


line {
    stroke: gray;
}

line#limit {
    stroke: #FED966;
    stroke-width: 3;
    stroke-dasharray: 3.6;
}

.grid path {
    stroke-width: 0;
}

.grid .tick line {
    stroke: #9FAAAE;
    stroke-opacity: 0.3;
}

text.divergence {
    font-size: 14px;
    fill: #2F4A6D;
}

text.value {
    font-size: 14px;
}

text.title {
    font-size: 22px;
    font-weight: 600;
}

text.label {
    font-size: 14px;
    font-weight: 400;
}

text.source {
    font-size: 10px;
}

.HypeCycleContainer{
    box-shadow: 0px 0px 40px -5px rgba(0,0,0,0.3);
    padding-top: 10px;
}